* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

content p,
h1 {
    -moz-transition: all .35s linear;
    -o-transition: all .35s linear;
    font-size: 1.3em;
    transition: all .35s linear;
}

body {
    /*using cssgradient.io for liniar background generator*/
    background: linear-gradient(90deg, rgb(250, 250, 250) 13%, rgba(255, 255, 255, 1) 13%, rgba(247, 247, 247, 1) 13%, rgba(247, 247, 247, 1) 16%, rgba(255, 255, 255, 1) 16%, rgba(252, 252, 252, 1) 16%);
    overflow-x: hidden;
    overflow-y: visible;
    /* Hide vertical scrollbar */
}

.bg {
    /*using cssgradient.io for liniar background generator*/
    background: linear-gradient(72deg, rgba(255, 255, 255, 0) 79%, rgba(252, 252, 252, 1) 79%, rgba(247, 247, 247, 1) 79%, rgba(247, 247, 247, 1) 80%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 1) 85%, rgba(247, 247, 247, 1) 85%, rgba(247, 247, 247, 1) 100%, rgba(255, 255, 255, 1) 100%);
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -5;

}

/*header*/
.animation1 {
    animation: 1s ease;
}

.logo h1 {
    display: inline;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.logo--ext {
    color: #ff3333e7;
    left: -5px;
    position: relative;
}

.nav--wrapper {
    padding: 20px 20px 10px 20px;
    margin: 0px 30px 0px 30px;
}

.separator {
    height: 200px;
    width: 100%;
}

.navbar-toggle img {
    height: 20px;
}

.navbar-toggle {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 10px;
}

.links {
    margin-bottom: 0px;
    margin-top: 100px;
}

.links li {
    margin: 15px auto;
    text-align: center;
}

.links ul {
    text-decoration: none;
    list-style-type: none;
}

.links ul li {
    margin-bottom: 40px;
}

.links ul li a {
    -moz-transition: all.5s ease-in;
    -o-transition: all.5s ease-in;
    -webkit-transition: all.5s ease-in;
    color: rgba(255, 0, 0, 0.815);
    font-size: 40px;
    font-weight: bold;
    margin: 0px 40px 40px;
    transition: all.5s ease-in;
}

.nav-links {
    text-decoration: none;

}

.nav-links:hover {
    color: #140404d5;
}

.main-nav {
    margin-left: -40px;

}
.main-nav li {
    margin: 15px auto;
    text-align: left;
}

.button--ctn {
    font-family: 'Open Sans', sans-serif;
}

.active {
    display: none;
}

.close {
    display: none;
}

.button button {
    width: 100%;
    transition: .3s ease;
    padding: 10px 24px;
    margin-bottom: 90px;
    height: 60px;
    font-weight: 600;
    font-size: 16px;
    color: white;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(139, 28, 28, 0.1), 0 2px 5px rgba(204, 41, 41, 0.2);
    border: none;
    border-radius: 4px;
    background-color: #ff3333e7;
}

.button button:hover {
    box-shadow: inset 0 -1px 0 rgba(114, 75, 75, 0), 0 1px 2px rgba(139, 28, 28, 0), 0 2px 5px rgba(204, 41, 41, 0);
    background-color: #df2b2be7;
}

/*body-content*/
.container-body {
    margin-bottom: 40px;
}

.transition1 {
    -moz-transition: width 0.5s 0s ease-in;
    -o-transition: width 0.5s 0s ease-in;
    -webkit-transition: width 0.5s 0s ease-in;
    transition: width 0.5s 0s ease-in;
}

.context {
    margin-left: 50px;
    margin-right: 30px;
}

#cont-1 {
    margin-right: auto;
    margin-left: auto;
    display: flex;
}

.content-p {
    justify-content: center;
}

.content-p p {
    font-size: 2.3rem;
    color: rgb(0, 0, 0);
}

.content-p h1 {
    color: rgb(248, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-size: 4rem;
    font-weight: bold;
    margin-top: -10px;
}

.button1 {
    background-color: #fffffff3;
    border-radius: 5px;
    border: 1px rgba(255, 0, 0, 0.74) solid;
    box-shadow: inset 0 -1px 0 rgba(250, 250, 250, 0), 0 1px 2px rgba(255, 255, 255, 0), 0 2px 5px rgba(255, 255, 255, 0);
    color: red;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 4px;
    margin: 50px 0px 0px 0px;
    padding: 10px 30px;
    position: relative;
    transition: 1s all;
}

.button1:hover {
    background-color: #ff0000e7;
    border: 1px red solid;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(139, 28, 28, 0.1), 0 2px 5px rgba(204, 41, 41, 0.2);
    color: white;
}

.social-icons {
    margin: 20px 0px 0px 0px;
    display: inherit;
}

.social-icons img {
    filter: brightness(0%);
    margin: 0px 14px 0px 0px;
    opacity: .8;
    width: 25px;
}

.social-icons h4 {
    color: rgba(0, 0, 0, 0.829);
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}

.social-icons img:hover {
    cursor: pointer;
    opacity: 1;
}

.extention {
    height: 40px;
    width: 100%;
}

/*static bg*/
.pfp {
    width: 300px;
    top: 640px;
    right: auto;
    position: absolute;
    left:60%;
    filter: brightness(120%);
}

.t-bg {
    color: rgba(238, 20, 20, 0.041);
    font-family: 'Abril FatFace', cursive;
    font-size: 27rem;
    font-weight: lighter;
    margin: 0 0 0 480px;
    position: absolute;
    text-overflow: clip;
    top: 0px;
    z-index: -3;
}

/*Media Queries*/
@media all and (max-width:375px) {
    .pfp {
        opacity: 0;
    }
}

@media all and (max-width:717px) {
    .content-p h1 {
        font-size: 3rem;
    }

    .content-p p {
        font-size: 1.5rem;
    }

    .p-header {
        margin-top: -180px;
        margin-right: auto;
        margin-left: auto;
    }

    .pfp {
        transition: 1s;
        opacity: 0;
    }
}

@media all and (min-width: 1100px) {
    * {
        box-sizing: border-box;
        font-family: 'Lato', sans-serif;
        font-size: 18px;
        margin: 0;
        padding: 0;
    }

    body {
        overflow-y: visible;
        overflow-x: hidden;
    }

    header {
        margin: 0px 0px 20px 0px;
    }

    .nav--wrapper {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .main-nav {
        display: inline;

    }

    .main-nav li {
        display: inline;
    }

    .links li {
        margin: 0px;
    }

    .links ul li a {
        -moz-transition: .5s;
        -o-transition: .5s;
        -webkit-transition: .5s;
        color: black;
        font-size: 14px;
        font-weight: 500;
        margin: 0px 40px 0px;
        transition: .5s;
    }

    .links ul li a:hover {
        color: rgb(255, 68, 68);
        font-size: 14px;
        font-weight: 500;
        margin: 0px 40px 0px;
    }

    .nav-links {
        transition: width 1s ease-in;
        margin-left: 40px;
    }

    .links {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .logo {
        margin-top: 0px;
    }

    .navbar-toggle {
        display: none;
    }

    .button button {
        background-color: #ff3333e7;
        border-radius: 4px;
        border: none;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1), 0 1px 2px rgba(139, 28, 28, 0.1), 0 2px 5px rgba(204, 41, 41, 0.2);
        color: white;
        display: unset;
        font-size: 13px;
        font-weight: 600;
        height: 35px;
        margin: 0px;
        transition: 1s ease;
        width: 100px;
    }

    .button button:hover {
        background-color: #df1e1ee7;
    }

    .pic {
        width: 600px;
        height: 500px;
    }

    .pfp {
        display: unset;
        filter: brightness(120%);
        left: 10%;
        opacity: 1;
        opacity: 1;
        position: absolute;
        top: 180px;
        width: 400px;
    }

    .social-icons {
        margin: 20px 0px 0px 0px;
    }

    .social-icons img {
        filter: brightness(0%);
        margin: 0px 18px 0px 0px;
        opacity: .8;
        width: 25px;
    }

    .social-icons h4 {
        color: rgba(110, 40, 40, 0.829);
        font-size: 1.5rem;
        font-weight: bold;
        margin-top: 10px;
    }

    .social-icons img:hover{
        cursor: pointer;
        opacity: 1;
    }

    .context {
        margin-left: 50%;
        margin-right: auto;
    }

    #cont-1 {
        margin: 0px 10px 0px 10px;
        justify-content: flex-end;
        display: flex;
    }

    .content-p {
        justify-content: center;
        margin: 90px 0px 0px 0px;
    }

    .content-p p {
        font-size: 2.3rem;
    }

    .content-p h1 {
        color: rgba(255, 0, 0, 0.815);
        font-family: 'Open Sans', sans-serif;
        font-size: 4rem;
        font-weight: bold;
        margin-top: -10px;
    }

}